In [73]:
#%matplotlib inline

import matplotlib.pyplot as plt
import numpy as np
import random
import requests as rq
import sys
import io
import re
import pandas as pd
from gensim import models
from nltk.tokenize import sent_tokenize
from nltk.stem import WordNetLemmatizer
from gensim.models import Word2Vec
import nltk

stop_words = nltk.corpus.stopwords.words('english')
lemmatizer = WordNetLemmatizer()

In [25]:
with open('english-adjectives.txt') as f:
    more_adjs = f.read().splitlines()

In [4]:
model_fox = Word2Vec.load("fox.model")
model_reuters = Word2Vec.load("reuters.model")
model_the_hill = Word2Vec.load("the_hill.model")
model_cnn = Word2Vec.load("cnn.model")
model_nyt = Word2Vec.load("nyt.model")

In [5]:
adjectives = ['disorganized', 'devious', 'impressionable', 'circumspect', 'impassive', 
             'aimless', 'effeminate', 'unfathomable', 'fickle', 'unprincipled', 'inoffensive', 
             'reactive', 'providential', 'resentful', 'bizarre', 'impractical',
             'sarcastic', 'misguided', 'imitative', 'pedantic', 'venomous', 'erratic', 'insecure', 
             'resourceful', 'neurotic', 'forgiving', 'profligate', 'whimsical', 'assertive', 
             'incorruptible', 'individualistic', 'faithless', 'disconcerting', 'barbaric', 
             'hypnotic', 'vindictive', 'observant', 'dissolute', 'frightening', 'complacent', 
             'boisterous', 'pretentious', 'disobedient', 'tasteless', 'sedentary', 
             'sophisticated', 'regimental', 'mellow', 'deceitful', 'impulsive', 'playful', 
             'sociable', 'methodical', 'willful', 'idealistic', 'boyish', 'callous', 'pompous', 
             'unchanging', 'crafty', 'punctual', 'compassionate', 'intolerant', 'challenging', 
             'scornful', 'possessive', 'conceited', 'imprudent', 'dutiful', 'lovable', 
             'disloyal', 'dreamy', 'appreciative', 'forgetful', 'unrestrained', 'forceful', 
             'submissive', 'predatory', 'fanatical', 'illogical', 'tidy', 'aspiring', 'studious', 
             'adaptable', 'conciliatory', 'artful', 'thoughtless', 'deceptive', 'frugal', 
             'reflective', 'insulting', 'unreliable', 'stoic', 'hysterical', 'rustic', 
             'inhibited', 'outspoken', 'unhealthy', 'ascetic', 'skeptical', 'painstaking', 
             'contemplative', 'leisurely', 'sly', 'mannered', 'outrageous', 'lyrical', 
             'placid', 'cynical', 'irresponsible', 'vulnerable', 'arrogant', 'persuasive', 
             'perverse', 'steadfast', 'crisp', 'envious', 'naive', 'greedy', 'presumptuous', 
             'obnoxious', 'irritable', 'dishonest', 'discreet', 'sporting', 'hateful', 
             'ungrateful', 'frivolous', 'reactionary', 'skillful', 'cowardly', 'sordid', 
             'adventurous', 'dogmatic', 'intuitive', 'bland', 'indulgent', 'discontented', 
             'dominating', 'articulate', 'fanciful', 'discouraging', 'treacherous', 
             'repressed', 'moody', 'sensual', 'unfriendly', 'optimistic', 'clumsy', 
             'contemptible', 'focused', 'haughty', 'morbid', 'disorderly', 'considerate', 
             'humorous', 'preoccupied', 'airy', 'impersonal', 'cultured', 'trusting', 
             'respectful', 'scrupulous', 'scholarly', 'superstitious', 'tolerant', 
             'realistic', 'malicious', 'irrational', 'sane', 'colorless', 'masculine', 
             'witty', 'inert', 'prejudiced', 'fraudulent', 'blunt', 'childish', 'brittle', 
             'disciplined', 'responsive', 'courageous', 'bewildered', 'courteous', 
             'stubborn', 'aloof', 'sentimental', 'athletic', 'extravagant', 'brutal', 
             'manly', 'cooperative', 'unstable', 'youthful', 'timid', 'amiable', 'retiring', 
             'fiery', 'confidential', 'relaxed', 'imaginative', 'mystical', 'shrewd', 
             'conscientious', 'monstrous', 'grim', 'questioning', 'lazy', 'dynamic', 
             'gloomy', 'troublesome', 'abrupt', 'eloquent', 'dignified', 'hearty', 'gallant', 
             'benevolent', 'maternal', 'paternal', 'patriotic', 'aggressive', 'competitive', 
             'elegant', 'flexible', 'gracious', 'energetic', 'tough', 'contradictory', 
             'shy', 'careless', 'cautious', 'polished', 'sage', 'tense', 'caring', 
             'suspicious', 'sober', 'neat', 'transparent', 'disturbing', 'passionate', 
             'obedient', 'crazy', 'restrained', 'fearful', 'daring', 'prudent', 'demanding', 
             'impatient', 'cerebral', 'calculating', 'amusing', 'honorable', 'casual',
             'sharing', 'selfish', 'ruined', 'spontaneous', 'admirable', 'conventional', 
             'cheerful', 'solitary', 'upright', 'stiff', 'enthusiastic', 'petty', 'dirty', 
             'subjective', 'heroic', 'stupid', 'modest', 'impressive', 'orderly', 'ambitious', 
             'protective', 'silly', 'alert', 'destructive', 'exciting', 'crude', 'ridiculous', 
             'subtle', 'mature', 'creative', 'coarse', 'passive', 'oppressed', 'accessible', 
             'charming', 'clever', 'decent', 'miserable', 'superficial', 'shallow', 'stern', 
             'winning', 'balanced', 'emotional', 'rigid', 'invisible', 'desperate', 'cruel', 
             'romantic', 'agreeable', 'hurried', 'sympathetic', 'solemn', 'systematic', 
             'vague', 'peaceful', 'humble', 'dull', 'expedient', 'loyal', 'decisive', 
             'arbitrary', 'earnest', 'confident', 'conservative', 'foolish', 'moderate', 
             'helpful', 'delicate', 'gentle', 'dedicated', 'hostile', 'generous', 'reliable', 
             'dramatic', 'precise', 'calm', 'healthy', 'attractive', 'artificial', 
             'progressive', 'odd', 'confused', 'rational', 'brilliant', 'intense', 
             'genuine', 'mistaken', 'driving', 'stable', 'objective', 'sensitive', 
             'neutral', 'strict', 'angry', 'profound', 'smooth', 'ignorant', 'thorough', 
             'logical', 'intelligent', 'extraordinary', 'experimental', 'steady', 
             'formal', 'faithful', 'curious', 'reserved', 'honest', 'busy', 'educated', 
             'liberal', 'friendly', 'efficient', 'sweet', 'surprising', 'mechanical', 
             'clean', 'critical', 'criminal', 'soft', 'proud', 'quiet', 'weak', 'anxious', 
             'solid', 'complex', 'grand', 'warm', 'slow', 'false', 'extreme', 'narrow', 
             'dependent', 'wise', 'organized', 'pure', 'directed', 'dry', 'obvious', 'popular', 
             'capable', 'secure', 'active', 'independent', 'ordinary', 'fixed', 'practical', 
             'serious', 'fair', 'understanding', 'constant', 'cold', 'responsible', 'deep', 
             'religious', 'private', 'simple', 'physical', 'original', 'working', 'strong', 
             'modern', 'determined', 'open', 'political', 'difficult', 'knowledge', 'kind']

In [28]:
testing_words = ["gun", "metoo", "america", "tax", "abortion", "democrat", "republican", "nra", 
                 "trump", "biden", "china", "gay", "lesbian"]

women_list = ['daughter', 'mother', 'woman', 'girl', 'female', 
              'sister', 'aunt', 'niece']
men_list = ['son', 'father', 'man', 'boy', 'male', 'brother',
            'uncle', 'nephew']

straight_list = ['heterosexual', 'straight']
lgbt_list = ['gay', 'trans', 'bi', 'bisexual', 'lesbian', 'homosexual']

religion_list = ['god', 'church', 'religion', 'sacred', 'jesus']
secular_list = ['secular', 'atheist', 'agnostic']

d_list = ['democrat', 'liberal', 'right', 'pelosi', 'obama']
r_list = ['republican', 'conservative', 'left', 'trump', 'mcconnell']

white_list = ['white', 'caucasian']
bipoc_list = ['black','african','asian','indigenous', 'hispanic']

wealth_list = ['rich', 'wealthy', 'affluent', ]
poor_list = ['poor', 'poverty', 'impoverished']

In [326]:
def print_adj_dists(news_source, model, word_list, compare_wordlist):    
    for word in word_list:
      word_dists = []
      for ind in range(len(compare_wordlist)):
        adj = compare_wordlist[ind]
        try:
          dist = model.wv.distance(word, adj)
          word_dists.append([news_source, word, adj, dist])
        except:
          word_dists.append([news_source, word, adj, None])

      df = pd.DataFrame(word_dists, columns=['source','word', 'adj', 'dist'])

      print(df.shape)
    

      df_sorted1 = df.sort_values(by='dist', ascending=True)
      display(df_sorted1.head(5))
        
      df_sorted2 = df.sort_values(by = 'dist', ascending=False)
      display(df_sorted2.head(5))

def return_adj_dists(news_source, model, word_list, compare_wordlist):    
    for word in word_list:
      word_dists = []
      for ind in range(len(compare_wordlist)):
        adj = compare_wordlist[ind]
        try:
          dist = model.wv.distance(word, adj)
          word_dists.append([news_source, word, adj, dist])
        except:
          word_dists.append([news_source, word, adj, None])

      df = pd.DataFrame(word_dists, columns=['source','word', 'adj', 'dist'])

      print(df.shape)
    
      return df
    
def plot_adjs(df):
      df_sorted1 = (df.sort_values(by='dist', ascending=True)).reset_index()
      df_sorted2 = (df.sort_values(by='dist', ascending=False)).reset_index()
      x = []
      y = []
      for i in range(5):#, len(adjectives)//3, 20):
        x.append(df_sorted1['adj'][i])
        y.append(df_sorted1['dist'][i])
      j=4
      for k in range(5):#, len(adjectives)//3, 20):
        x.append(df_sorted2['adj'][j])
        y.append(df_sorted2['dist'][j])
        j-=1
      
      plt.ylabel('Adjectives')
      plt.xlabel('Distances')
      plt.axhline(y=4.5, color='black', linestyle=":")
      plt.axis([-.05, 1, -.5, 9.5])
      plt.plot(y, x,'ro')
      
        
        
def print_word_dists_each_model(wordlist, compare_wordlist):
    print_adj_dists("Fox News", model_fox, wordlist, compare_wordlist)
    print_adj_dists("Reuters", model_reuters, wordlist, compare_wordlist)
    print_adj_dists("The Hill", model_the_hill, wordlist, compare_wordlist)
    print_adj_dists("NYT", model_nyt, wordlist, compare_wordlist)
    print_adj_dists("CNN", model_cnn, wordlist, compare_wordlist)
    
def find_avg_loc(model, wordlist):
    avg = [0]*100
    for i in range(0, len(wordlist)):
        avg += model.wv.get_vector(wordlist[i])
    avg /= len(wordlist)
    return avg

def find_avg_dists(news_source, model, wordlist_name, wordlist, compare_wordlist, print_output=True):
    word_dists = []
    avg_loc = find_avg_loc(model, wordlist)
    for ind in range(len(compare_wordlist)):
      compare_word = compare_wordlist[ind]
      try: 
        dist = abs(np.linalg.norm(avg_loc-model.wv.get_vector(compare_word)))
        word_dists.append([news_source, wordlist_name, compare_word, dist])
      except:
        word_dists.append([news_source, wordlist_name, compare_word, None])

    df = pd.DataFrame(word_dists, columns=['news_source', 'wordlist_name', 'compare_word', 'dist'])
    
    if print_output:
        df_sorted = df.sort_values(by='dist', ascending=True)
        print(df.shape)
        print(df_sorted.head())
    return df

def find_avg_dists_each_model(wordlist_name, wordlist, compare_wordlist):
    find_avg_dists("Fox", model_fox, wordlist_name, wordlist, compare_wordlist)
    find_avg_dists("Reuters", model_reuters, wordlist_name, wordlist, compare_wordlist)
    find_avg_dists("The Hill", model_the_hill, wordlist_name, wordlist, compare_wordlist)
    find_avg_dists("NYT", model_nyt, wordlist_name, wordlist, compare_wordlist)
    find_avg_dists("CNN", model_cnn, wordlist_name, wordlist, compare_wordlist)
    
def find_avg_dists_compare(news_source, model, wordlist_name1, wordlist1, wordlist_name2, wordlist2, compare_wordlist):
    dists1 = find_avg_dists(news_source, model, wordlist_name1, wordlist1, compare_wordlist, print_output=False)
    dists2 = find_avg_dists(news_source, model, wordlist_name2, wordlist2, compare_wordlist, print_output=False)

    print("""\nif difference between dists is positive, association is stronger 
with wordlist1. if negative, association is stronger with wordlist2\n""")
    
    diffs = pd.DataFrame()
    diffs['news_source'] = dists1['news_source']
    diffs['wordlist1'] = wordlist_name1
    diffs['wordlist2'] = wordlist_name2
    diffs['compare_word'] = dists1['compare_word']
    diffs['diff'] = dists1['dist']-dists2['dist']
    
    df_sorted = diffs.sort_values(by='diff', ascending=False)
    print(df_sorted.head())
    if len(df_sorted) > 5:
        df_sorted = diffs.sort_values(by='diff', ascending=True)
        print(df_sorted.head())
        
    
def find_avg_dists_compare_each_model(wordlist_name1, wordlist1, wordlist_name2, wordlist2, compare_wordlist):
    find_avg_dists_compare("Fox News", model_fox, wordlist_name1, wordlist1, wordlist_name2, wordlist2, compare_wordlist)
    find_avg_dists_compare("Reuters", model_reuters, wordlist_name1, wordlist1, wordlist_name2, wordlist2, compare_wordlist)
    find_avg_dists_compare("The Hill", model_the_hill, wordlist_name1, wordlist1, wordlist_name2, wordlist2, compare_wordlist)
    find_avg_dists_compare("NYT", model_nyt, wordlist_name1, wordlist1, wordlist_name2, wordlist2, compare_wordlist)
    find_avg_dists_compare("CNN", model_cnn, wordlist_name1, wordlist1, wordlist_name2, wordlist2, compare_wordlist)

In [53]:
# find_avg_dists_compare_each_model("w_list", white_list, "b_list", bipoc_list, adjectives)
# find_avg_dists_compare_each_model("w_list", white_list, "b_list", bipoc_list, more_adjs)

#find_avg_dists_compare_each_model("gay", ['gay'], "lesbian", ['lesbian'], more_adjs)
#find_avg_dists_compare_each_model("man", ['man'], "woman", ['woman'], adjectives)

In [200]:
#print_word_dists_each_model(['ocasio'], adjectives)

In [39]:
#print_word_dists_each_model(['shooting'], adjectives)

In [40]:
#print_word_dists_each_model(['metoo'])

In [42]:
#print_word_dists_each_model(['american'])

In [320]:
# plot_adjs(return_adj_dists("Fox", model_fox, ['heterosexual'], adjectives))
# print_adj_dists("Fox", model_fox, ['heterosexual'], adjectives)

In [327]:
print_word_dists_each_model(['gay'], adjectives)

(423, 4)

       source word        adj      dist
409  Fox News  gay  religious  0.347775
359  Fox News  gay   faithful  0.436792
36   Fox News  gay  observant  0.438457
219  Fox News  gay  patriotic  0.461062
70   Fox News  gay   disloyal  0.465377

       source word        adj      dist
386  Fox News  gay     narrow  1.011124
343  Fox News  gay     stable  0.985134
392  Fox News  gay        dry  0.983729
293  Fox News  gay    shallow  0.983531
367  Fox News  gay  efficient  0.929050

(423, 4)

      source word            adj      dist
6    Reuters  gay     effeminate  0.335556
409  Reuters  gay      religious  0.338617
171  Reuters  gay      masculine  0.437826
62   Reuters  gay     intolerant  0.442069
164  Reuters  gay  superstitious  0.446441

      source word          adj      dist
250  Reuters  gay  calculating  0.965510
343  Reuters  gay       stable  0.964967
380  Reuters  gay      complex  0.962116
327  Reuters  gay     reliable  0.950939
330  Reuters  gay         calm  0.947598

(423, 4)

       source word         adj      dist
409  The Hill  gay   religious  0.433383
36   The Hill  gay   observant  0.448477
218  The Hill  gay    paternal  0.508741
76   The Hill  gay  submissive  0.515212
182  The Hill  gay  bewildered  0.523154

       source word        adj      dist
327  The Hill  gay   reliable  1.042569
383  The Hill  gay       slow  1.032252
350  The Hill  gay     smooth  1.021131
330  The Hill  gay       calm  1.020521
367  The Hill  gay  efficient  1.020255

(423, 4)

    source word          adj      dist
409    NYT  gay    religious  0.427428
6      NYT  gay   effeminate  0.439897
133    NYT  gay     dogmatic  0.477571
174    NYT  gay   prejudiced  0.481406
42     NYT  gay  disobedient  0.498273

    source word          adj      dist
100    NYT  gay  painstaking  1.079550
370    NYT  gay   mechanical  1.024041
392    NYT  gay          dry  0.980861
115    NYT  gay        crisp  0.979068
343    NYT  gay       stable  0.966514

(423, 4)

    source word         adj      dist
409    CNN  gay   religious  0.416682
62     CNN  gay  intolerant  0.452443
286    CNN  gay   oppressed  0.457401
54     CNN  gay  idealistic  0.465621
36     CNN  gay   observant  0.486917

    source word         adj      dist
370    CNN  gay  mechanical  1.028117
367    CNN  gay   efficient  0.982595
400    CNN  gay       fixed  0.981749
205    CNN  gay        grim  0.966343
276    CNN  gay       alert  0.956208