In [1]:
%matplotlib inline

import numpy as np
import random
import requests as rq
import sys
import io
import pandas as pd
from bs4 import BeautifulSoup
from keras.callbacks import LambdaCallback
from keras.models import Sequential
from keras.layers import Dense, LSTM
from tensorflow.keras.optimizers import RMSprop
from collections import Counter
from datetime import datetime
import keras
import keras.callbacks
from keras.callbacks import TensorBoard
%load_ext tensorboard

In [2]:
df = pd.read_csv ('/Users/abby/Documents/fa21-neural-networks/final_project/all-the-news-2-1.csv')

/Users/abby/Applications/miniconda3/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3441: DtypeWarning: Columns (1,3,5) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [3]:
df.columns

Index(['Unnamed: 0', 'Unnamed: 0.1', 'date', 'year', 'month', 'day', 'author',
       'title', 'article', 'url', 'section', 'publication'],
      dtype='object')

In [4]:
df[df['publication']=='Fox News'].groupby('year').count()

,Unnamed: 0,Unnamed: 0.1,date,month,day,author,title,article,url,section,publication
year,,,,,,,,,,,
2016,56,56,56,56,56,56,56,56,56,56,56
2017,2464,2464,2464,2464,2464,2464,2464,2464,2464,2464,2464
2018,17624,17624,17624,17624,17624,17624,17624,17624,17624,17624,17624

In [5]:
df_fox_news = df[df['publication'] == "Fox News"]
df_fox_news = df_fox_news[df_fox_news['year'] == 2018]
df_fox_news = df_fox_news[['article']]
df_fox_news.to_csv('fox_news.csv', index=False)

In [6]:
df[df['year'] == 2018].groupby('publication').count()

,Unnamed: 0,Unnamed: 0.1,date,year,month,day,author,title,article,url,section
publication,,,,,,,,,,,
Axios,16543,16543,16543,16543,16543,16543,16542,16543,16512,16543,0
Business Insider,2204,2204,2204,2204,2204,2204,2165,2204,2202,2204,0
Buzzfeed News,8194,8194,8194,8194,8194,8194,8194,8194,8174,8194,0
CNBC,42965,42965,42965,42965,42965,42965,404,42964,40685,42965,30927
CNN,29736,29736,29736,29736,29736,29736,28821,29736,29262,29736,29736
Economist,5942,5942,5942,5942,5942,5942,0,5942,5635,5942,5942
Fox News,17624,17624,17624,17624,17624,17624,17624,17624,17624,17624,17624
Gizmodo,6590,6590,6590,6590,6590,6590,6590,6590,6590,6590,5593
Hyperallergic,3045,3045,3045,3045,3045,3045,3044,3045,3036,3045,0
Mashable,15958,15958,15958,15958,15958,15958,14961,15958,15958,15958,0
New Republic,2381,2381,2381,2381,2381,2381,2378,2381,2381,2381,0
New Yorker,1148,1148,1148,1148,1148,1148,1100,1148,1135,1148,1148
People,34346,34346,34346,34346,34346,34346,34346,34346,34263,34346,34346
Politico,9983,9983,9983,9983,9983,9983,9756,9983,9962,9983,0
Refinery 29,17302,17302,17302,17302,17302,17302,16975,17302,17301,17302,0
Reuters,162196,162196,162196,162196,162196,162196,49469,162196,159142,162196,160551
TMZ,12293,12293,12293,12293,12293,12293,0,12293,12273,12293,0
TechCrunch,11955,11955,11955,11955,11955,11955,11955,11955,11952,11955,0
The Hill,50617,50617,50617,50617,50617,50617,50617,50617,50617,50617,0
The New York Times,54456,54456,54456,54456,54456,54456,49812,54456,54436,54456,54439
The Verge,11139,11139,11139,11139,11139,11139,11061,11139,11139,11139,11060
Vice,17342,17342,17342,17342,17342,17342,17333,17342,17335,17342,17342
Vice News,4271,4271,4271,4271,4271,4271,4266,4271,4271,4271,0
Vox,11072,11072,11072,11072,11072,11072,11011,11072,11072,11072,0
Washington Post,106,106,106,106,106,106,5,106,35,106,6
Wired,4157,4157,4157,4157,4157,4157,4157,4157,4145,4157,4126

In [7]:
df_cnn = df[df['publication'] == "CNN"]
df_cnn = df_cnn[df_cnn['year'] == 2018]
df_cnn = df_cnn[['article']]
df_cnn.to_csv('cnn.csv', index=False)

In [8]:
df_the_hill = df[df['publication'] == "The Hill"]
df_the_hill = df_the_hill[df_the_hill['year'] == 2018]
df_the_hill = df_the_hill[['article']]
df_the_hill.to_csv('the_hill.csv', index=False)

In [10]:
df_reuters = df[df['publication'] == "Reuters"]
df_reuters = df_reuters[df_reuters['year'] == 2018]
df_reuters = df_reuters[['article']]
df_reuters.to_csv('reuters.csv', index=False)

In [13]:
df_nyt = df[df['publication'] == "The New York Times"]
df_nyt = df_nyt[df_nyt['year'] == 2018]
df_nyt = df_nyt[['article']]
df_nyt.to_csv('nyt.csv', index=False)