In [2]:
%matplotlib inline

import numpy as np
import random
import requests as rq
import sys
import io
import pandas as pd
from bs4 import BeautifulSoup
from keras.callbacks import LambdaCallback
from keras.models import Sequential
from keras.layers import Dense, LSTM
from tensorflow.keras.optimizers import RMSprop
from collections import Counter
from datetime import datetime
import keras
import keras.callbacks
from keras.callbacks import TensorBoard
%load_ext tensorboard

In [3]:
df = pd.read_csv ('/Users/abby/Documents/fa21-neural-networks/final_project/all-the-news-2-1.csv')

/Users/abby/Applications/miniconda3/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3441: DtypeWarning: Columns (1,3,5) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [4]:
df.columns

Index(['Unnamed: 0', 'Unnamed: 0.1', 'date', 'year', 'month', 'day', 'author',
       'title', 'article', 'url', 'section', 'publication'],
      dtype='object')

In [31]:
df_fewer_cols = df[['article','publication']]

In [15]:
df_vox = df_fewer_cols[df_fewer_cols['publication'] == 'Vox'].article

In [20]:
df_vox

0          This post is part of Polyarchy, an independent...
8          Google I/O, the company's big developer confer...
10         Elizabeth Warren is giving people a new reason...
15         Nancy Pelosi is getting visions of reclaiming ...
16         The nonpartisan director of the federal Office...
                                 ...
2674053    The United States continues to record far and ...
2674054    Zoom, the videoconferencing app that’s dominat...
2674055    Governors in several of the hardest-hit states...
2674056    New York City’s Commission on Human Rights wil...
2674057    On Tuesday, the White House’s coronavirus task...
Name: article, Length: 47272, dtype: object

In [19]:
df_vox[0]

'This post is part of Polyarchy, an independent blog produced by the political reform program at New America, a Washington think tank devoted to developing new ideas and new voices. Imagine you are an otherwise healthy 30-something who starts feeling weird. You are sometimes short of breath. You get migraines. Your feet start to swell a little. But otherwise, everything seems fine. You go to the doctor. The doctor runs some tests. She tells you,\xa0It\'s probably nothing, but these could be signs of a coming heart attack. You push for more certainty, but the doctor tells you she\'s not sure. The human body is a complex system. You\'re young and otherwise pretty healthy. There could be plenty of other explanations for what you\'re feeling. But it is a little worrying. So just to be on the safe side, maybe you should reduce the stress in your life and eat a healthier diet. What would you do? If you\'re a sensible person, you\'d probably err on the side of precaution. Sure, it might be nothing to worry about, and the likelihood of a heart attack in your 30s might be low. But even a low chance is a low chance of something possibly fatal. Why take a chance, especially when the recommendations — less stress, healthier diet — are good for you either way? I offer this parable as a way of thinking about the debate that\'s emerged over the past two weeks in response to Amanda Taub\'s New York Times article profiling new findings by Roberto Stefan Foa and Yascha Mounk — findings that raise alarms about the fact that younger people have, over time, become less and less likely to say in surveys that it is "essential" to live in a democracy. Rather than share the sense of alarm, however, several critics have jumped on Foa and Mounk for misinterpreting the data and generating unnecessary panic. Political scientist Erik Voeten, for example, argued that their\xa0analysis is misleading: "The article by Mounk and Foa does document some small shifts in opinion on related issues. But these aren\'t nearly as dramatic as the New York Times graph suggests." Similarly, Wonkblog\'s Jeff Guo\xa0reanalyzed the data and argued that it is "far less alarming than\xa0it seems." Foa and Mounk have responded, drawing on more analysis from their forthcoming Journal of Democracy article, which also documents increasing support among young people for "a strong leader" and rising support for extremism. Voeten, however, remains unimpressed, and now has more charts here suggesting the shifts are far less significant than Foa and Mounk make them out to be. "And," he argues, "it\'s dangerous too to\xa0tell the world that people are now ready to accept nondemocratic governance." For those who want to argue over how to interpret the data, you should follow the hyperlinks above. There are very reasonable points of disagreement. I don\'t have much to add to that debate here, other than to observe that it\'s very rare that data is unambiguous about important societal shifts before those shifts actually occur. When the data is unambiguous, it is almost always too late to do anything. The only sure sign of having a heart attack is, well, having a heart attack. Similarly, the only sure sign of a democratic collapse is, well, a democratic collapse. And whatever you think of the data analysis, there is also a mounting series of actual real-world election results that are hard to explain if support for liberal democracy is thriving. In deciding how seriously to take these findings, it\'s also worth asking what we would do differently if we took Foa and Mounk\'s findings seriously. How would we collectively respond? And what would be the consequences? For one, we\'d probably invest in a lot more civic education, so that the next generation learns the basics of liberal democracy and understands why it\'s a better system than authoritarian rule. This seems like a good idea regardless. Similarly, we might collectively invest considerable resources in making a strong public case for liberal democracy. We might also try to figure out ways to make our public institutions do more outreach to citizens to make sure they feel engaged in their democracy, and think hard about building up intermediary institutions that help people feel as though their voices are represented and taken seriously. Again, these seem like things we should be doing regardless, like reducing stress or improving the health of our diets. In my heart attack parable, if the doctor had told you that the only way to prevent a future heart attack would be to give up your job and your social life and spend the next year on strict bed rest eating only kale and chia seed salads, you might want to be a little more certain that you really were at high risk for a heart attack. After all, taking the risk seriously would impose a heavy cost on you. Other recent crises offer some examples of cases where key decision-makers did ignore warning signs, because taking those signs seriously would have imposed significant costs on them. For example, in the housing bubble of the mid-2000s, warnings were ignored because the financial industry had staked considerable investments and product lines on the myth that housing values would go up forever. To admit that housing was overvalued and that securitized mortgages were riskier than advertised would have cost investment banks dearly. But eventually, reality caught up with them, and the resulting damage was far worse than it would have been if we had paid attention to the early warning signs. Similarly, many carbon-intensive industries and fossil fuel producers pushed back on findings of climate change because taking those findings seriously would force significant changes in their industries. As a result, these industries funded doubt and uncertainty. The problem has since gotten much worse, and it has become harder to take effective action. The early scientists may have been alarmist. But we\'d be in much better shape if we had listened to them. I would be more comforted if I could be certain that Voeten is right and Foa and Mounk are wrong. Maybe there is indeed nothing to worry about. But given the risks, as well as the recent string of election results, I\'d rather err on the side of caution. Like the threat of a heart attack, the threat of autocracy or military rule replacing liberal democracy is pretty serious, and very difficult to recover from. I don\'t want to take a chance. Especially when the preventive medicine consists of things we should probably be doing anyway.'

In [27]:
df.groupby(['publication','year']).count()

                  Unnamed: 0  Unnamed: 0.1   date  month    day  author  \
publication year
Axios       2016           7             7      7      7      7       7
            2017       15659         15659  15659  15659  15659   15652
            2018       16543         16543  16543  16543  16543   16542
            2019       15605         15605  15605  15605  15605   15604
            2020           1             1      1      1      1       1
...                      ...           ...    ...    ...    ...     ...
Wired       2017        4530          4530   4530   4530   4530    4530
            2018        4157          4157   4157   4157   4157    4157
            2019        4074          4074   4074   4074   4074    4073
            2020        1103          1103   1103   1103   1103    1102
            2019         269           269    269    269    269     269

                  title  article    url  section
publication year
Axios       2016      7        7      7        0
            2017  15659    15193  15659        0
            2018  16543    16512  16543        0
            2019  15605    15598  15605        0
            2020      1        1      1        0
...                 ...      ...    ...      ...
Wired       2017   4530     4514   4530     4530
            2018   4157     4145   4157     4126
            2019   4074     4068   4074     4074
            2020   1103     1101   1103     1103
            2019    269      269    269      269

[150 rows x 10 columns]

In [28]:
df[df['publication']=='Fox News'].groupby('year').count()

,Unnamed: 0,Unnamed: 0.1,date,month,day,author,title,article,url,section,publication
year,,,,,,,,,,,
2016,56,56,56,56,56,56,56,56,56,56,56
2017,2464,2464,2464,2464,2464,2464,2464,2464,2464,2464,2464
2018,17624,17624,17624,17624,17624,17624,17624,17624,17624,17624,17624

In [39]:
df_fox_news = df[df['publication'] == "Fox News"]
df_fox_news = df_fox_news[df_fox_news['year'] == 2018]
df_fox_news = df_fox_news[['article']]
df_fox_news.to_csv('fox_news.csv', index=False)

In [30]:
df[df['year'] == 2018].groupby('publication').count()

,Unnamed: 0,Unnamed: 0.1,date,year,month,day,author,title,article,url,section
publication,,,,,,,,,,,
Axios,16543,16543,16543,16543,16543,16543,16542,16543,16512,16543,0
Business Insider,2204,2204,2204,2204,2204,2204,2165,2204,2202,2204,0
Buzzfeed News,8194,8194,8194,8194,8194,8194,8194,8194,8174,8194,0
CNBC,42965,42965,42965,42965,42965,42965,404,42964,40685,42965,30927
CNN,29736,29736,29736,29736,29736,29736,28821,29736,29262,29736,29736
Economist,5942,5942,5942,5942,5942,5942,0,5942,5635,5942,5942
Fox News,17624,17624,17624,17624,17624,17624,17624,17624,17624,17624,17624
Gizmodo,6590,6590,6590,6590,6590,6590,6590,6590,6590,6590,5593
Hyperallergic,3045,3045,3045,3045,3045,3045,3044,3045,3036,3045,0
Mashable,15958,15958,15958,15958,15958,15958,14961,15958,15958,15958,0
New Republic,2381,2381,2381,2381,2381,2381,2378,2381,2381,2381,0
New Yorker,1148,1148,1148,1148,1148,1148,1100,1148,1135,1148,1148
People,34346,34346,34346,34346,34346,34346,34346,34346,34263,34346,34346
Politico,9983,9983,9983,9983,9983,9983,9756,9983,9962,9983,0
Refinery 29,17302,17302,17302,17302,17302,17302,16975,17302,17301,17302,0
Reuters,162196,162196,162196,162196,162196,162196,49469,162196,159142,162196,160551
TMZ,12293,12293,12293,12293,12293,12293,0,12293,12273,12293,0
TechCrunch,11955,11955,11955,11955,11955,11955,11955,11955,11952,11955,0
The Hill,50617,50617,50617,50617,50617,50617,50617,50617,50617,50617,0
The New York Times,54456,54456,54456,54456,54456,54456,49812,54456,54436,54456,54439
The Verge,11139,11139,11139,11139,11139,11139,11061,11139,11139,11139,11060
Vice,17342,17342,17342,17342,17342,17342,17333,17342,17335,17342,17342
Vice News,4271,4271,4271,4271,4271,4271,4266,4271,4271,4271,0
Vox,11072,11072,11072,11072,11072,11072,11011,11072,11072,11072,0
Washington Post,106,106,106,106,106,106,5,106,35,106,6
Wired,4157,4157,4157,4157,4157,4157,4157,4157,4145,4157,4126